<main>
  <section class="section section-shaped section-lg">
    <ngx-spinner></ngx-spinner>
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Sign in with</small>
              </div>
              <div class="btn-wrapper text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
              </div>
              <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <div class="form-group mb-3"
                  [ngClass]="{'has-error': loginForm.get('emailInput').errors && (loginForm.get('emailInput').touched || loginForm.get('emailInput').dirty), 'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <!-- <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false"> -->
                    <input class="form-control" placeholder="Email" type="email" id="emailInput" name="emailInput"
                      formControlName="emailInput" (focus)="focus=true" (blur)="focus=false">
                  </div>

                  <div
                    *ngIf="loginForm.get('emailInput').errors && (loginForm.get('emailInput').touched || loginForm.get('emailInput').dirty)">
                    <div *ngIf="loginForm.get('emailInput').errors.required"
                      class="help-block mt-1 text-danger text-center"><i class="bi bi-exclamation-circle"></i>
                      <small>
                        Email is required
                      </small>
                    </div>
                    <div *ngIf="loginForm.get('emailInput').errors.pattern"
                      class="help-block mt-1 text-danger text-center"><i class="bi bi-exclamation-circle"></i>
                      <small>
                        Invalid email format
                      </small>
                    </div>
                  </div>

                </div>
                <div class="form-group"
                  [ngClass]="{'has-error': loginForm.get('passwordInput').errors && (loginForm.get('passwordInput').touched || loginForm.get('passwordInput').dirty), 'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <!-- <input class="form-control" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false"> -->
                    <input class="form-control" placeholder="Password" type="password" id="passwordInput"
                      name="passwordInput" formControlName="passwordInput" (focus)="focus1=true" (blur)="focus1=false">
                  </div>

                  <div
                    *ngIf="loginForm.get('passwordInput').errors && (loginForm.get('passwordInput').touched || loginForm.get('passwordInput').dirty)">
                    <div *ngIf="loginForm.get('passwordInput').errors.required"
                      class="help-block mt-1 text-danger text-center"><i class="bi bi-exclamation-circle"></i>
                      <small>
                        Password is required
                      </small>
                    </div>
                    <div *ngIf="loginForm.get('passwordInput').errors.pattern"
                      class="help-block mt-1 text-danger text-center"><i class="bi bi-exclamation-circle"></i>
                      <small>
                        Invalid password format
                      </small>
                    </div>
                  </div>

                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span>Remember me</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4" [disabled]="loginForm.invalid||isLoading">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i> {{buttonName}}</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a class="text-light" (click)="open(classic1, '', '')">
                <small>Forgot password?</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <a [routerLink]="['/register']" class="text-light">
                <small>Create new account</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Email sent form -->
  <ng-template #classic1 let-c="close" let-d="dismiss">
    <form role="form" [formGroup]="resetForm" (ngSubmit)="mailSubmit()" enctype="multipart/form-data" #myForm="ngForm">

      <!-- Modal Content -->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Recover account</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <!-- Email form input -->
        <div class="modal-body">
          <div class="text-center text-muted mb-4">
            <small>Please enter your email and follow the instructions given to reset your password. Goodluck!</small>
          </div>
          <div class="text-center">
            <div class="form-group mb-3"
              [ngClass]="{'has-error': resetForm.get('emailInput').errors && (resetForm.get('emailInput').touched || resetForm.get('emailInput').dirty)}">

              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83" aria-hidden="true"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" formControlName="emailInput"
                  maxlength="256" minlength="5">
              </div>

              <div
                *ngIf="resetForm.get('emailInput').errors && (resetForm.get('emailInput').touched || resetForm.get('emailInput').dirty)">
                <div *ngIf="resetForm.get('emailInput').errors.required" class="help-block mt-1 text-danger">
                  <i class="bi bi-exclamation-circle"></i>
                  <small>
                    Email is required
                  </small>
                </div>
                <div *ngIf="resetForm.get('emailInput').errors?.pattern" class="help-block mt-1 text-danger">
                  <i class="bi-exclamation-circle"></i>
                  <small>
                    Invalid email format
                  </small>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-link ml-auto" data-dismiss="modal" (click)="c('Close click')">Close
                </button>

                <button type="submit" class="btn btn-primary" style="min-width: 8rem; text-align:center"
                  [disabled]="resetForm.invalid||isSending">
                  <i class="fa" [ngClass]="{'fa-spin fa-spinner': isSending}"></i>
                  Submit
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</main>