input {
    caret-color:orange
}

a:hover {
    cursor: pointer;
}

.bg-gradient-black-blue {  
    background: linear-gradient(87deg, #1a1c23 0, #1a1c23 100%)!important
}

.bg-black-blue {
    background: linear-gradient(87deg, #23252f 0, #23252f 100%)!important

}