.card{
    /* padding: 1.5em .5em .5em; */
    border-radius: 12px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */

    /* text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2); */
}

img {
    border-radius: 12px;
    display: block;
    /* border-top-left-radius: 12px;
    border-top-right-radius: 12px; */
    object-fit: cover;
}

.bg-gradient-black-blue {  
    background: linear-gradient(87deg, #1a1c23 0, #1a1c23 100%)!important
}

.bg-black-blue {
    background: linear-gradient(87deg, #23252f 0, #23252f 100%)!important

}

.match-height {
    height: 100%;
    width: 100%;
}

.wrapper {
    /* height: 100vh; */
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }

.typing-demo {
    width: 18ch;
    animation: typing 2s steps(15), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;

}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }