<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg bg-gradient-black-blue pb-20">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container pt-md wrapper">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-12 ">
                        <!-- <div class="wrapper"> -->
                            <h2 class="display-3 text-white topic">Blog</h2>
                        <!-- </div> -->
                       
                    </div>
                </div>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row row-grid align-items-center pb-lg">
                        <div class="col-lg-7">
                            <img src="./assets/img/post/coding4.jpg" height="400" class="card-img-top">
                        </div>
                        <div class="col-lg-5">
                            <h1 class="display-3 text-white">Road to fullstack developer</h1>
                            <p class="text-light small">
                                Posted 2022-01-12T04:24:43.000Z
                            </p>
                            <div>
                                <p class="text-italic text-white truncate-content-header">Full Stack Development is no easy task, so many starters may find it very imposing. The reality is that it would be much easier if you start specializing in either Frontend or Backend and then learning about the other one on the way. That being said, if you have the heart. Nothing is going to stop you from learning full-stack development.</p>
          
                            </div>
                            <div class="btn-wrapper">
                                <a [routerLink]="['/blog/road-to-fullstack']" class="btn btn-info btn-icon mb-3 mb-sm-0 text-white">
                                  <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                                  <span class="btn-inner--text">Read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row row-grid" style="display: flex" >
                        <div class="col-md-4" *ngFor='let allPost of allPost'>
                            <div class="card bg-gradient-black-blue border-0 card-lift--hover">
                              <img [src]="allPost.header_image" class="card-img-top" width="300" height="250">
                              <blockquote class="card-padding card-blockquote">
                                  <p class="text-light small">
                                      Posted {{allPost.time_posted}}
                                  </p>
                                <h5 class="font-weight-bold text-white">{{allPost.post_title}}</h5>
                                <div>
                                    <p class="text-italic text-white truncate-content">{{allPost.post_content}}</p>
              
                                </div>
              
                              </blockquote>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <ngx-spinner></ngx-spinner>

          
        </section>
        
        <!-- 1st Hero Variation -->
    </div>
    

</main>