<main>
  <section class="section section-shaped section-lg bg-gradient-black-blue">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Sign up with</small>
              </div>
              <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign up with credentials</small>
              </div>

              <form role="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

                <div class="form-group"
                  [ngClass]="{'focused':focus===true,'has-error': signUpForm.get('nameInput').errors && (signUpForm.get('nameInput').touched || signUpForm.get('nameInput').dirty)}">

                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false" id="nameInput"
                      name="nameInput" formControlName="nameInput" minLength="3">
                  </div>

                  <!--Validation error-->
                  <div
                    *ngIf="signUpForm.get('nameInput').errors && (signUpForm.get('nameInput').touched || signUpForm.get('nameInput').dirty)">

                    <div *ngIf="signUpForm.get('nameInput').errors.required" class="help-block mt-1 text-danger">
                      <i class="bi bi-exclamation-circle"></i>
                      <small>
                        Name is required
                      </small>
                    </div>

                    <div *ngIf="signUpForm.get('nameInput').errors.pattern" class="help-block mt-1 text-danger">
                      <i class="bi bi-exclamation-circle"></i>
                      <small>
                        Name must be in a string only
                      </small>
                    </div>

                    <div *ngIf="signUpForm.get('nameInput').errors.minlength" class="help-block mt-1 text-danger">
                      <i class="bi bi-exclamation-circle"></i>
                      <small>
                        Name must be more than 3 characters
                      </small>
                    </div>

                  </div>

                </div>

                <div class="form-group"
                  [ngClass]="{'focused':focus3===true,'has-error': signUpForm.get('usernameInput').errors && (signUpForm.get('usernameInput').touched || signUpForm.get('usernameInput').dirty)}">

                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                    </div>
                    <input class="form-control" placeholder="Username" type="text" (focus)="focus3=true"
                      (blur)="focus3=false" name="usernameInput" formControlName="usernameInput" minlength="3">
                  </div>

                  <!--Validation error-->
                  <div
                    *ngIf="signUpForm.get('usernameInput').errors && (signUpForm.get('nameInput').touched || signUpForm.get('usernameInput').dirty)">

                    <div *ngIf="signUpForm.get('usernameInput').errors.required" class="help-block mt-1 text-danger">
                      <i class="bi bi-exclamation-circle"></i>
                      <small>
                        Username is required
                      </small>
                    </div>

                    <div *ngIf="signUpForm.get('usernameInput').errors.minlength" class="help-block mt-1 text-danger">
                      <i class="bi bi-exclamation-circle"></i>
                      <small>
                        Username must be more than 3 characters
                      </small>
                    </div>

                  </div>

                </div>

                <div class="form-group" [ngClass]="{'focused':focus1===true, 'has-error':signUpForm.get('emailInput').errors && (signUpForm.get('emailInput').touched || signUpForm.get('emailInput').dirty)}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" (focus)="focus1=true" formControlName="emailInput" name="emailInput"
                      (blur)="focus1=false">
                  </div>

                  <!-- Validation error -->
                  <div *ngIf="signUpForm.get('emailInput').errors && (signUpForm.get('emailInput').touched || signUpForm.get('emailInput').dirty)">
                    <div *ngIf="signUpForm.get('emailInput').errors.required" class="help-block mt-1 text-danger">
                      <i class="bi bi-exclamation-circle"></i>
                      <small>
                        Email is required
                      </small>
                    </div>
                    <div *ngIf="signUpForm.get('emailInput').errors.pattern" class="help-block mt-1 text-danger">
                      <i class="bi bi-exclamation-circle"></i>
                      <small>
                        Invalid email pattern (E.g: <em>example@gmail.com</em>)
                      </small>
                    </div>
                  </div>
                 
                </div>

                <div class="form-group" [ngClass]="{'focused':focus2===true, 'has-error':signUpForm.get('passwordInput').errors && (signUpForm.get('passwordInput').touched || signUpForm.get('passwordInput').dirty)}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" (focus)="focus2=true"
                      (blur)="focus2=false" formControlName="passwordInput" name="passwordInput">
                  </div>

                  <!-- Validation error -->
                  <div *ngIf="signUpForm.get('passwordInput').errors && (signUpForm.get('passwordInput').touched || signUpForm.get('passwordInput').dirty)">
                    <div *ngIf="signUpForm.get('passwordInput').errors.required" class="help-block mt-1 text-danger">
                      <i class="bi bi-exclamation-circle"></i>
                      <small>
                        Password is required
                      </small>
                    </div>
                    <div *ngIf="signUpForm.get('passwordInput').errors.pattern" class="help-block mt-1 text-danger">
                      <i class="bi bi-exclamation-circle"></i>
                      <small>
                        Invalid password pattern (E.g: <em>Person_01</em>)
                      </small>
                    </div>
                  </div>
                </div>

                <div class="text-muted font-italic">
                  <div *ngIf="signUpForm.get('passwordInput').length == 3 && (signUpForm.get('passwordInput').touched || signUpForm.get('passwordInput').dirty)">
                    <small>password strength:
                      <span class="text-success font-weight-700">strong</span>
                    </small>
                  </div>
                  
                </div>


                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox" [checked]="isChecked" (change)="changed($event)">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span>I agree with the
                          <a href="javascript:void(0)">Privacy Policy</a>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4" [disabled]="signUpForm.invalid || isLoading || !isChecked">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>
                    {{buttonName}}
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>