.font-nav {
    font-family: monospace;
    // color: yellow;
}

.lightning-color {
    color: yellow
}

.fb-color:hover {
    color :rgb(43, 94, 249)
}

.insta-color:hover {
    color: #E1306C
}

.twitter-color:hover {
    color: #07a7fd
}

.github-color:hover {
    color: gray
}


.underline {
    background: linear-gradient(90deg, #005fff 0%, #07effd 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2rem;
    background-position: 0 100%;
    background-color: #1a1c23;
    // transition: all 0.3s ease-in-out;
}
    