.font-nav {
    font-family: monospace;
    // color: yellow;
}

.lightning-color {
    color: yellow
}

.fb-color:hover {
    color :rgb(43, 94, 249)
}

.insta-color:hover {
    color: #E1306C
}

.twitter-color:hover {
    color: #07a7fd
}

.github-color:hover {
    color: gray
}