<main>
    <section class="section section-shaped section-lg">
        <ngx-spinner></ngx-spinner>
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-1">
                            <div class="text-muted text-center mb-3">
                                <h3 class="h4 text-blue font-weight-bold mb-4">Update password</h3>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <!-- <div class="text-center text-muted mb-4">
                                <small>Or sign up with credentials</small>
                            </div> -->

                            <form role="form" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">

                                <div class="form-group"
                                    [ngClass]="{'focused':focus===true, 'has-error':passwordForm.get('newPasswordInput').errors && (passwordForm.get('newPasswordInput').touched || passwordForm.get('newPasswordInput').dirty)}">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="New password" type="password"
                                            (focus)="focus=true" (blur)="focus=false" formControlName="newPasswordInput"
                                            name="newPasswordInput">
                                    </div>

                                    <!-- Validation error -->
                                    <div *ngIf="passwordForm.get('newPasswordInput').errors && (passwordForm.get('newPasswordInput').touched || passwordForm.get('newPasswordInput').dirty)">
                                        <div *ngIf="passwordForm.get('newPasswordInput').errors.required"
                                            class="text-center help-block mt-1 text-danger">
                                            <i class="bi bi-exclamation-circle"></i>
                                            <small>
                                                Password is required
                                            </small>
                                        </div>
                                        <div *ngIf="passwordForm.get('newPasswordInput').errors.pattern"
                                            class="text-center help-block mt-1 text-danger">
                                            <i class="bi bi-exclamation-circle"></i>
                                            <small>
                                                Invalid password pattern (E.g: <em>Person_01</em>)
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group"
                                [ngClass]="{'focused':focus1===true, 'has-error':passwordForm.get('retypePasswordInput').errors && (passwordForm.get('retypePasswordInput').touched || passwordForm.get('retypePasswordInput').dirty)}">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Re-type password" type="password"
                                        (focus)="focus1=true" (blur)="focus1=false" formControlName="retypePasswordInput"
                                        name="retypePasswordInput">
                                </div>

                                <!-- Validation error -->
                                <div
                                    *ngIf="passwordForm.get('retypePasswordInput').errors && (passwordForm.get('retypePasswordInput').touched || passwordForm.get('retypePasswordInput').dirty)">
                                    <div *ngIf="passwordForm.get('retypePasswordInput').errors.required"
                                        class="help-block mt-1 text-danger text-center">
                                        <i class="bi bi-exclamation-circle"></i>
                                        <small>
                                            Re-type password is required
                                        </small>
                                    </div>
                                    <div *ngIf="passwordForm.get('retypePasswordInput').errors.pattern"
                                        class="text-center help-block mt-1 text-danger">
                                        <i class="bi bi-exclamation-circle"></i>
                                        <small>
                                            Invalid password pattern (E.g: <em>Person_01</em>)
                                        </small>
                                    </div>
                                    <div *ngIf="passwordForm.get('retypePasswordInput').errors.mustMatch" class="text-center help-block mt-1 text-danger">
                                        <i class="bi-exclamation-circle"></i>
                                        <small>
                                            Unmatched password
                                        </small>
    
                                    </div>
                                </div>
                                </div>

                                <div class="text-muted font-italic">
                                    <div
                                        *ngIf="passwordForm.get('newPasswordInput').length == 3 && (passwordForm.get('newPasswordInput').touched || passwordForm.get('newPasswordInput').dirty)">
                                        <small>password strength:
                                            <span class="text-success font-weight-700">strong</span>
                                        </small>
                                    </div>

                                </div>


                                <!-- <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" id="customCheckRegister" type="checkbox"
                                                [checked]="isChecked" (change)="changed($event)">
                                            <label class="custom-control-label" for="customCheckRegister">
                                                <span class="text-danger"> 
                                                    Make sure your password is correct
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4"
                                        [disabled]="passwordForm.invalid || isLoading">
                                        <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>
                                        {{buttonName}}
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>