.card{
    /* padding: 1.5em .5em .5em; */
    border-radius: 12px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */

    /* text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2); */
}

img {
    /* border-radius: 12px; */
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.fit-image {
    width: 150px;
    height: 150px;
}

.border-bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display:block;
}

.bg-gradient-black-blue {  
    background: linear-gradient(87deg, #1a1c23 0, #1a1c23 100%)!important
}

.bg-black-blue {
    background: linear-gradient(87deg, #23252f 0, #23252f 100%)!important

}

.match-height {
    height: 100%;
    width: 100%;
}

.text-cyon {
    color: #29c8ca!important
}

.badge-cyon {
    color: #eef7f9;
    background-color: rgba(17,205,239,255)

}

.flex {
    display: flex;
    /* width: 500px; */
    flex-wrap: wrap;
    gap: 50px;
}

.underline {
  background: linear-gradient(90deg, #005fff 0%, #07effd 100%);
  background-repeat: no-repeat;
  background-size: 95% 0.2rem;
  background-position: 0 90%;
  transition: all 0.3s ease-in-out;
}

.underline:hover {
  background-size: 95% 90%;
}

/* hover icon effect */
ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul li {
    list-style: none;
    /* margin: 0 15px; */
  }
  
  ul li a {
    position: relative; 
    display: block;
    width: 3rem;
    height: 3rem;
    /* text-align: center; */
    line-height: 63px;
    background: #23252f;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
  ul li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }

  .effect:hover::before {
    transform: scale(1.1);
    /* box-shadow: 0 0 15px #ffee10; */
  }

  .effect:hover {
    color: #ffee10;
    /* box-shadow: 0 0 5px #ffee10; */
    text-shadow: 0 0 5px #ffee10;
  }

  .effect1:hover::before {
    transform: scale(1.1);
    /* box-shadow: 0 0 15px #ffee10; */
  }

  .effect1:hover {
    color: #1080ff;
    /* box-shadow: 0 0 5px #ffee10; */
    text-shadow: 0 0 5px #1080ff;
  }

  .effect2:hover {
    color: #fe2323;
    /* box-shadow: 0 0 5px #ffee10; */
    text-shadow: 0 0 5px #fe2323;
  }

  