<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg bg-gradient-black-blue pb-20">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md pt-md wrapper">
                <div class="row justify-content-center text-center pb-md">
                    <div class="col-lg-12 ">
                        <!-- <div class="wrapper"> -->
                        <h2 class="display-3 text-white underline ">Road to fullstack developer</h2>
                        <!-- </div> -->

                    </div>
                </div>
            </div>
            <div class="container d-flex">
                <div class="col-lg-12">
                    <div class="row row-grid align-items-center pb-md">
                        <div class="col-lg-12">
                            <img src="./assets/img/post/coding4.jpg" height="500" class="card-img-top">
                        </div>
                    </div>
                </div>

            </div>
            <div class="container d-flex align-items-center pb-sm">
                <img src="./assets/img/theme/lion.jpg"
                    class="rounded-circle img-fluid shadow shadow-lg--hover" style="width: 80px;">
                <div class="col-md-4 align-items-center">
                    <p class="text-white font-weight-bold mb-0">
                        Syahmi Kamal
                    </p>
                    <p class="text-light">
                        Posted 19 February 2022
                    </p>
                </div>
            </div>

            <div class="container d-flex pb-lg">
                <div class="col-lg-12">
                    <h4 class="display-5 text-white font-weight-bold">Definition of fullstack developer</h4>
                    <p class="text-white">
                        A full-stack developer is a programmer who works within software development and is
                        knowledgeable in both the front end and back end of an application. They work to create a
                        seamless user experience through their diverse skill set. They're also well-versed in databases,
                        server configuration and user interface.
                        <br>
                        <br>
                        It's important to note that as a full-stack developer, you're not required to know everything,
                        but having an overall understanding of what's going on in the front end and back end is key.
                    </p>
                    <h4 class="display-5 text-white font-weight-bold">
                        What is front-end?
                    </h4>
                    <p class="text-white mb-sm-1">
                        “Front end” refers to what users see when they open a browser or application. In other words,
                        the front end deals with the user interface. When you interact with a website, you’re using the
                        front end.
                        <br>
                        <br>
                        Front-end developers focus on user engagement, experience and interface. They use programming
                        languages such as HTML, CSS and Javascript to build the front end of an application. Because the
                        front end deals with the visual aspects of a site, these developers should also understand color
                        theory, layouts and general typography rules. Front-end roles include various professions
                        including web designers, while the back end is handled by developers and engineers.
                        <br>
                        <br>
                        Here are some job titles for roles related to the front end of an application:
                        <br>
                    </p>
                    <ul class="text-white pb-sm">
                        <li>User interface designer</li>
                        <li>User experience designer</li>
                        <li>Web designer</li>
                        <li>Front-end developer</li>
                        <li>Front-end engineer</li>
                    </ul>
                    <h4 class="display-5 text-white font-weight-bold">What is back-end?</h4>
                    <p class="text-white mb-sm-1">
                        “Back end” refers to the part of a site or application that users don't see. Back-end developers
                        write code that creates communication between the database and the browser to ensure the site is
                        working properly. Other back-end components include automated testing frameworks, cybersecurity,
                        server configuration and network scalability.
                        <br>
                        <br>
                        Back-end developers focus on the functionality of the site or application through coding. They
                        use various programming languages such as Java, PHP, Ruby on Rails, Python, and SQL to get the
                        job done. Ultimately, the back end creates a seamless experience for the end-user of an
                        application or site.
                        <br>
                        <br>
                        Here are some job titles for roles related to the back end of an application:
                        <br>
                    </p>
                    <ul class="text-white pb-sm">
                        <li>Java back-end developer</li>
                        <li>Python back-end developer</li>
                        <li>Back-end software developer</li>
                        <li>Back-end developer</li>
                    </ul>

                    <h4 class="display-5 text-white font-weight-bold">What are the skills required for a full-stack developer?</h4>
                    <p class="text-white mb-1 pb-sm">
                        If you're interested in a career as a full-stack developer, you'll need to have a certain set of skills to perform your job effectively. While hard skills are important in these roles, soft skills are also helpful. Here are in-demand soft skills for a full-stack developer:
                    </p>
                    <h5 class="display-5 text-white"> 
                        Soft skills
                    </h5>
                    <p class="text-white">
                        These soft skills can be useful for all web development roles.
                    </p>
                    <ul class="text-white pb-sm">
                        <li>Problem solving
                            <br> 
                            <span class="text-light">
                                Obstacles and challenges are inevitable in the world of web development. Being able to quickly problem-solve in potentially stressful situations may help you work more efficiently.
                            </span>
                        </li>
                        <br>
                        <li>Creativity
                            <br>
                            <span class="text-light">
                                Creativity can be helpful for front-end, back-end and full-stack developers. Whether it’s designing the look of a website, managing records and data or structuring code, there is an opportunity and need for creativity in all of these roles.
                            </span>
                        </li>
                        <br>
                        <li>Patience
                            <br>
                            <span class="text-light">
                                Coding takes time. Being patient and maintaining a calm and positive attitude can go a long way.
                            </span>
                        </li>
                        <br>
                        <li>Attention to detail
                            <br> 
                            <span class="text-light">
                                As a developer, you'll need to pay close attention to the code you're creating. This is crucial in creating a functional site or application. Close attention to detail may save you time and shorten production schedules.
                            </span>
                        </li>
                        <br>
                        <li>Communication
                            <br>
                            <span class="text-light">
                                Having open communication with your peers and superiors can lead to a more efficient and comfortable work environment. If you’re able to communicate technical issues or concerns immediately, you may find a solution faster.
                            </span>
                        </li>
                    </ul>

                    <h5 class="display-5 text-white"> 
                        Hard skills
                    </h5>
                    <p class="text-white">
                        For any web development role, hard skills are a must. Hard skills refer to measurable, technical skills such as software, languages and databases. For hard skills, there are slightly different requirements based on whether you’re a full-stack developer, front-end developer or back-end developer. Here’s a list of hard skills categorized by role:
                    </p>
                    <h5 class="display-5 text-white">
                        Front-end
                    </h5>
                    <ul>
                        <li class="text-white pb-sm">HTML/CSS
                            <br> 
                            <span class="text-light">
                                HTML helps a developer create website or application content. CSS is used to create an aesthetically pleasing design and layout.
                            </span>
                            <br>
                        </li>
                        <li class="text-white pb-sm">Javascript
                            <br> 
                            <span class="text-light">
                                Developers use JavaScript to create automation, animation and interactivity. This type of programming language is rising in popularity, so understanding how it works is critical for your future success in this role.
                            </span>
                            <br>
                        </li>
                    </ul>
                    <h5 class="display-5 text-white">
                        Back-end
                    </h5>
                    <ul>
                        <li class="text-white pb-sm">Python
                            <br>
                            <span class="text-light">
                                Python has ample libraries and frameworks. This makes it a great tool for back-end developers.
                            </span>
                            <br>
                        </li>
                        <li class="text-white pb-sm">PHP
                            <br>
                            <span class="text-light">
                                While this programming language can be used for front- and back-end development, it’s most commonly used on the back end to create page content, gather form data or send and receive cookies.
                            </span>
                            <br>
                        </li>
                        <li class="text-white pb-sm">SQL
                            <br>
                            <span class="text-light">
                                SQL allows programmers to manage records, access and manipulate databases.
                            </span>
                            <br>
                        </li>
                        <li class="text-white pb-sm">Git
                            <br>
                            <span class="text-light">
                                Git ensures all codebase changes are being tracked. This is highly useful if you're working on a team and need to make any modifications or updates to the code.
                            </span>
                            <br>
                        </li>
                    </ul>
                   
                </div>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row row-grid align-items-center pb-sm">
                        <div class="col-lg-7">
                            <h5 class="display-3 text-white">
                                Related Article
                            </h5>
                        </div>
                    </div>
                   
                    <div class="row row-grid" style="display: flex" >
                        <div class="col-md-4" *ngFor='let listPost of listPost'>
                            <div class="card bg-gradient-black-blue border-0 card-lift--hover">
                              <img [src]="listPost.header_image" class="card-img-top" width="300" height="200">
                              <blockquote class="card-padding card-blockquote">
                                  <p class="text-light small">
                                      Posted {{listPost.time_posted}}
                                  </p>
                                <h5 class="font-weight-bold text-white topic">{{listPost.post_title}}</h5>
                                <div>
                                    <p class="text-italic text-white truncate-content">{{listPost.post_content}}</p>             
                                </div>         
                              </blockquote>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            

            <!-- <div class="container">
                <div class="row row-grid">
                    <div class="col-md-2">
                          <img src="./assets/img/theme/team-1-800x800.jpg" class="rounded-circle img-fluid shadow shadow-lg--hover" style="width: 100px;">
                    </div>
                    <div class="col-md-2 align-items-center">
                        <h5 class="title">
                            <span class="d-block mb-1 text-white">Ryan Tompson</span>
                            <small class="h6 text-muted">Web Developer</small>
                          </h5>
                    </div>
                </div>
            </div> -->




            <ngx-spinner></ngx-spinner>


        </section>

        <!-- 1st Hero Variation -->
    </div>


</main>