<main>

    <section class="section bg-gradient-black-blue section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container pt-lg-md">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-white pb-5">
                  <!-- <div class="text-muted text-center mb-3" *ngIf=>
                    <h6 class="text-primary text-uppercase"> Successfully verify your account</h6>
                  </div> -->
                  <div class="btn-wrapper text-center">
                    <h5 class="text-primary text-uppercase"> Thank you!</h5>

                    <!-- <a [routerLink]="['/login']" class="btn btn-neutral btn-icon">
                        <div>
                            <span class="btn-inner--text">Login</span>
                        </div>
                      
                    </a> -->
                  </div>
                </div>
              </div>
              <!-- <div class="row mt-3">
                <div class="col-6">
                  <a href="javascript:void(0)" class="text-light">
                    <small>Forgot password?</small>
                  </a>
                </div>
                <div class="col-6 text-right">
                  <a href="javascript:void(0)" class="text-light">
                    <small>Create new account</small>
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </section>


</main>